<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.camera.simplemjpeg"
    android:installLocation="auto"> <!-- make sure added this was missing for me -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="true">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!--version--><!-- make sure added-->
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face" /><!-- barcode,face,ocr make sure added-->

        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <activity
        android:name=".MjpegActivity"
        android:label="@string/app_name" >


            <!-- comment -->
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity android:name=".SettingsActivity"
        android:label="@string/settings"
        android:windowSoftInputMode="stateHidden|adjustResize">
    </activity>
</application>

</manifest>